{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "targets":{
                    "chrome": "60",
                    "firefox":"60",
                    "ie":"9",
                    "safari":"10",
                    "edge":"11"
                }
            }
        ]
    ]
}